<% include ./partials/header %>

<div class="panel panel-default col-md-4 col-sm-4 col-xs-4" id="guest_recent">
  <div>
    <h2 style="text-align: center" class="panel-title"><%= guest.name %>'s Reviews</h2>
  </div>
  <div class="panel-body">
    <ul style="text-align: center; list-style: none">
     <% for (i=reviews.length; i>=0; i--){ %>
     <li>Review: <%= reviews[i]['comment'] %><br> Rating: <%=reviews[i]['ind_rating'] %> | By:<a href="/users/"+<%= reviews[i]['user_id']%>> <%= reviews[i]['userName'] %> </a> </li><br><br>
     <% } %>
   </ul>
 </div>
</div>
<div class="row"></div>
  <div class="panel panel-default col-md-3 col-sm-3 col-xs-3" id="guest_rev">
    <form style="text-align: center" action="/guests/<%= guestID  %>" method="post">
      <fieldset>
        <textarea id="guest_id" name="guest_id" style="display:none;" value="<%= guest.id %>"></textarea>
        <label id="guest_name" for="review">Review <%=guest.name%>:</label></br>
        <input type="hidden" name="guest_name" value="<%=guest.name%>">
        <textarea rows="5" cols="30" id="review" name="review" placeholder="Enter your guest review here"></textarea>
        <br />
        <label for="rating">Guest Rating:</label>
        <select id="rating" name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select></br>
        <div id="spacer" class="row col-md-12 col-sm-12 col-xs-12"></div>
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
  </div>
<% include ./partials/footer %>